* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 500px;
    margin: auto;
    border: solid;
    padding: 50px;
    gap: 40px;
    margin-top: 50px;
}

#container>div {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}